<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684302097214-5h9b5ofepphlc4ss1umovc9pdjononuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684302097214-5h9b5ofepphlc4ss1umovc9pdjononuh</string>
	<key>API_KEY</key>
	<string>AIzaSyC_dcBOnYYK0uwoJfGohlZ1m_3j0pTYKns</string>
	<key>GCM_SENDER_ID</key>
	<string>684302097214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherService</string>
	<key>PROJECT_ID</key>
	<string>weather-service-1a272</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-service-1a272.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684302097214:ios:cec89e3d5d3021b3b16a6f</string>
	<key>DATABASE_URL</key>
	<string>https://weather-service-1a272-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>